    <header>
        <nav>
            <div>
                <img src="/imagenes/logo.png" alt="Logo" class="logoHeader">
            </div>
        
           <ul>
                <li><a id="sobremi" href="sobremi">SOBRE MI</a></li>
                <li><a id="taras" href="taras">TARAS</a></li>
                <li><a id="calendario" href="calendario">CALENDARIO DEPORTIVO</a></li>
                <li><a id="material" href="material">MATERIAL</a></li>
                <li><a id="blog" href="blog">BLOG</a></li>
                <li><a id="social" href="social">SOCIAL</a></li>
           </ul>
        </nav>
    </header>