    <header>
        <nav>
            <div>
                <img src="/imagenes/logo.png" alt="Logo" class="logoHeader">
            </div>
        
           <ul>
                <li><a href="sobremi">SOBRE MI</a></li>
                <li><a>TARAS</a></li>
                <li><a>CALENDARIO DEPORTIVO</a></li>
                <li><a>MATERIAL</a></li>
                <li><a>BLOG</a></li>
                <li><a>SOCIAL</a></li>
           </ul>
        </nav>
    </header>