    <nav>
        <ul>
            <a href="sobremi"><li>SOBRE MI</li></a>
            <li>TARAS</li>
            <li>CALENDARIO DEPORTIVO</li>
            <li>MATERIAL</li>
            <li>BLOG</li>
            <li>SOCIAL</li>
        </ul>
    </nav>